@import './transition.scss';

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-start {
  justify-content: flex-start;
}

.main-center {
  justify-content: center;
}

.main-end {
  justify-content: flex-end;
}

.main-between {
  justify-content: space-between;
}

.secondary-start {
  align-items: flex-start;
}

.secondary-center {
  align-items: center;
}

.secondary-end {
  align-items: flex-end;
}
